  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>Portfolio</h3>
      <span flex></span>
      <md-menu>
        <md-button aria-label="Open filters menu" ng-click="openMenu($mdOpenMenu, $event, 'categories')">
          By Category
        </md-button>
        <md-menu-content width="2">
          <md-content class="md-padding" layout="column">
              <md-chips ng-model="selectedCategories" md-autocomplete-snap="" md-require-match="true" md-on-remove="removeTagChip($chip, 'categories');">
                <md-autocomplete md-selected-item="selectedCategoryItem" md-search-text="selectedCategoryText" md-items="item in querySearch(selectedCategoryText, 'categories')" md-item-text="item" placeholder="Search for a category" md-autoselect>
                  <span md-highlight-text="selectedCategoryText" md-highlight-flags="^i">{{item}}</span>
                </md-autocomplete>
                <md-chip-template>
                  <span>
                    <strong>{{$chip}}</strong>
                  </span>
                </md-chip-template>
              </md-chips>
          </md-content>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <md-button aria-label="Open filters menu" ng-click="openMenu($mdOpenMenu, $event, 'tags')">
          By Tag
        </md-button>
        <md-menu-content width="2">
          <md-content class="md-padding" layout="column">
              <md-chips ng-model="selectedTags" md-autocomplete-snap="" md-require-match="true">
                <md-autocomplete md-selected-item="selectedTagItem" md-search-text="selectedTagText" md-items="item in querySearch(selectedTagText, 'tags')" md-item-text="item" placeholder="Search for a tag" md-autoselect>
                  <span md-highlight-text="selectedTagText" md-highlight-flags="^i">{{item}}</span>
                </md-autocomplete>
                <md-chip-template>
                  <span>
                    <strong>{{$chip}}</strong>
                  </span>
                </md-chip-template>
              </md-chips>
          </md-content>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <md-button aria-label="Open filters menu" ng-click="openMenu($mdOpenMenu, $event, 'years')">
          By Date
        </md-button>
        <md-menu-content width="2">
          <md-content class="md-padding" layout="column">
              <md-chips ng-model="selectedYears" md-autocomplete-snap="" md-require-match="true">
                <md-autocomplete md-selected-item="selectedYearItem" md-search-text="selectedYearText" md-items="item in querySearch(selectedYearText, 'years')" md-item-text="item" placeholder="Search for a year" md-autoselect>
                  <span md-highlight-text="selectedYearText" md-highlight-flags="^i">{{item}}</span>
                </md-autocomplete>
                <md-chip-template>
                  <span>
                    <strong>{{$chip}}</strong>
                  </span>
                </md-chip-template>
              </md-chips>
          </md-content>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
  <md-grid-list md-cols-xs="1"
                md-cols-gt-xs="1"
                md-cols-sm="1"
                md-cols-gt-sm="1"
                md-cols-md="2"
                md-cols-gt-md="2"
                md-cols-lg="3"
                md-cols-gt-lg="4"
                md-cols-xl="6"
                md-gutter="1em"
                md-row-height="4:3"
                class="folioGrid">
        <md-grid-tile class="gray"
                      ng-repeat="item in data.items | orderBy:'-endDate'">
          <md-grid-tile-footer>
            <h3>{{item.displayName}}</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
